$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$bulbap-green: #4C9F00;


// @media (min-width: $small) {
//
// }
//
// @media (min-width: $medium) {
//
// }
//
// @media (min-width: $large) {
//
// }
//
// @media (min-width: $xlarge) {
//
// }
